<html>

<head>

  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/css/charts.css">
</head>

<body>
  <!-- Sidebar partial -->
  <div class="page-container">

    <div class="message-container">

    <h1>Real Time Analytics</h1>

    <div class="wrapper">
        <div class="dataCards">
            <h4>Concurrent Calls</h4>
            <p><button class="charts-button" onclick="window.location.href='logout'">Logout</button></p>
        </div>
        <div class="dataCards">
            <h4>Call Duration</h4>
            <p><button class="charts-button" onclick="window.location.href='logout'">Logout</button></p>
        </div>
        <div class="dataCards">
            <h4>Call Sentiment</h4>
            <p><button class-="charts-button" onclick="window.location.href='logout'">Logout</button></p>
        </div>
    </div>

    </div>
  </div>
</body>

