<html>

<head>

  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/css/charts.css">

  <!-- Fake data using CanvasJS -->

<script>
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      theme: "light2",
      title:{
        text: ""
      },
      axisX:{
	  	  title: "Seconds",
	    },
      axisY:{
        title: "Sentiment",
        includeZero: true
      },
      data: [{        
        type: "line",       
        dataPoints: [
          { y: 45.0 },
          { y: 41.4},
          { y: 90.0, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
          { y: 46.0 },
          { y: 45.0 },
          { y: 50.0 },
          { y: 48.0 },
          { y: 48.0 },
          { y: 16.0 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
          { y: 50.0 },
          { y: 48.0 }
        ]
      }]
    });
    chart.render();
    
    }
  </script>

<!--  -->

</head>

<body>
  <!-- Sidebar partial -->
  <div class="page-container">

    <div class="message-container">

      <h1>Real Time Analytics</h1>

      <div class="wrapper">
        <div class="dataCards">
          <h4>Concurrent Calls</h4>
          <p><button class="charts-button" onclick="window.location.href='logout'">Logout</button></p>
        </div>
        <div class="dataCards">
          <h4>Call Duration</h4>
          <p><button class="charts-button" onclick="window.location.href='logout'">Logout</button></p>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div class="dataCards">
                <h4>Call Sentiment</h4>
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
              </div>
            </div>
            <div class="back">
             <div class="dataCards">
                <h4>Call Sentiment</h4>
                <div style="height: 300px; width: 100%;">this is static data</div>
              </div>
            </div>
          </div>
        </div>

        
      </div>

    </div>
  </div>
</body>