<html>

<head>

  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/css/charts.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <!-- Fake data using CanvasJS -->

  <script src="/js/charts.js"></script>

  <!--  -->

</head>

<body>
  <!-- Sidebar partial -->
  <div class="page-container">

    <div class="message-container">

      <h1>Real Time Analytics</h1>

      <div class="wrapper">
        <div class="dataCards">
          <h4>Concurrent Calls</h4>
          <p><canvas id="polarChart" width="600" height="600"></canvas></p>
        </div>
        <div class="dataCards">
          <h4>Call Duration</h4>
          <p><canvas id="myChart" width="600" height="600"></canvas></p>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div class="dataCards">
                <h4>Call Sentiment</h4>
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
              </div>
            </div>
            <div class="back">
              <div class="dataCards">
                <h4>Call Sentiment</h4>
                <div style="height: 300px; width: 100%;">this is static data</div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</body>