<script src="/js/messages.js"></script>
<script>
  window.onload = () => {
    const messageList = new MessageList("messages");
    messageList.setCaller({
      name: "Caller"
    });
    messageList.setOperator({
      name: "Operator"
    });

    setInterval(() => {
      messageList.addMessage("caller", "Hey");
      setTimeout(() => {

        messageList.addMessage("operator",
          "yo Diggity dawg"
        );
      }, 1000)
    }, 3000)

  }
</script>
<div class="message-container">
  <div class="message-sticker">
    <div class="messages"></div>
  </div>
</div>