<script src="/js/messages.js"></script>
<script>
  window.onload = () => {
    console.log("test");
    const messageList = new MessageList("messages");
    messageList.setCaller({
      name: "Caller"
    });
    messageList.setOperator({
      name: "Operator"
    });
    messageList.addMessage("caller", "Hey");
    messageList.addMessage("operator", "yo dawg");
  }
</script>
<div>
  <div class="messages">

  </div>
</div>