<script src="/js/messages.js"></script>
<script>
  document.onload = () => {
    const messageList = new MessageList("messages");
    messageList.setCaller({
      name: "Customer"
    });
    messageList.setOperator({
      name: "Kathleen"
    });
    messageList.addMessage("caller", "Hey");
    messageList.addMessage("operator", "yo dawg");
  }
</script>
<div>
  <div class="messages">

  </div>
</div>