<script src="/js/messages.js"></script>
<script src="/js/timer.js"></script>
<script src="/js/message-panel.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="./js/watson-speech.min.js"></script>
<title>Phoney</title>
<script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
<% include message-panel-js.ejs %>
<div class="message-panel">
  <div class="message-container">
    <div class="message-sticker">
      <div class="messages">
        <img class="gif" src="/images/phoney.gif">
      </div>
    </div>
  </div>
  <div class="queue">Queue Size:
      <span class="queueSize">0</span> Customer(s) waiting |  
      Average Wait Time: 
      <span class="waitTime">0</span> Second(s)
    </div>
  <div class="timer timer-disabled">Call in progress:
    <span class="time-left">00:00</span>
  </div>
  <button id="bottom-button" class="take-next-call-button" onclick="takeNextCall()">Take Next Call</button>
  <button id="bottom-button" class="hang-up-button hide-button">End Call</button>
</div>