<div id="sidebar">
  <!-- Sidebar contents -->
  <div class="card">
      <img src="/images/john.jpg" alt="John" style="width:100%">
      <h1><%= user.name %></h1>
      <p class="title"><%= user.title %></p>
      <p><%= user.number %></p>
      <p><button>Settings</button></p>
      <p><button onclick="window.location.href='logout'">Logout</button></p>
      </div>
  <!-- <div id="sidebar-content"></div> -->

  <hr>
  <!-- Sidebar contents -->
  <div class="card">
		
			<ul>
				<li img src="/images/john.jpg" >First list item</li>
			</ul>
		
		
		</div>
	<div id="sidebar-content"></div>
</div>