<div id="sidebar">
  <!-- Sidebar contents -->
  	<div class="sidebar-header">
      <img src="/images/<%=user.name %>.jpg"  alt="John" class="sidebar-profile">
	  <h1><%= user.name %></h1>
	  <div class="sidebar-profile-info">
		<p class="title"><%= user.title %></p>
		<p><%= user.number %></p>
	  <div class="sidebar-profile-action">
		<p><button onclick="window.location.href='logout'">Logout</button></p>
	  </div>
	  </div>
	</div>
  <!-- <div id="sidebar-content"></div> -->

  <!-- Sidebar contents -->
  <div class="sidebar-content">
		<h3>Operators</h3>
  		<div class="card">
			<ul>
				<li><img class="opImage busy" src="/images/Dean Beggs.jpg" ><p class="opText">Dean Beggs</p></li>
			</ul>
		</div>
		<div class="card">
			<ul>
				<li><img class="opImage active" src="/images/Jay Bennett.jpg" ><p class="opText">Jay Bennett</p></li>
			</ul>
		</div>
		<div class="card">
			<ul>
				<li><img class="opImage offline" src="/images/Mitchell McJannett.jpg" ><p class="opText">Mitchell McJannett</p></li>
			</ul>
		</div>
	</div>

	<div class="sidebar-footer">
		<img class="sidebar-logo" src="images/phoney.png" style="opacity: 0.16"></img>
	</div>
</div>
