<body>

		<div id="container">
			<div id="sidebar">
				<!-- Sidebar contents -->
				<div id="sidebar-content" style="height: 2800px"></div>
			</div><!--
		 --><div id="content">
				<!-- Main contents -->
				<div id="main-content" style="height: 1800px"></div>
			</div>
		</div>
		
		</body>