<html>
<title>Phoney Call Board</title>

<head>

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/charts.css">
</head>

<body>
    <!-- Sidebar partial -->
    <div class="page-container">
        <% include partials/sidebar.ejs %>

        <div class="message-container">
            <% include partials/charts.ejs %>
        </div>
    </div>
</body>


</html>