<html>

<head>

    <% include partials/sidebar.ejs %>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="sidebar.css">
</head>

<body>
  hello,
  <%= user.name %>!
</body>


</html>