<html>

<head>

  <% include partials/sidebar.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
</head>

<body>
  hello,
  <%= user.name %>!
</body>


</html>