<html>

<head>

  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
</head>

<body>
  <!-- Sidebar partial -->
  <% include partials/sidebar.ejs %>

  hello,
  <%= user.name %>!
  <div class="message-container">
    <% include partials/message-panel.ejs %>
  </div>
</body>


</html>