<html>

<head>

  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/css/message-panel.css">
</head>

<body>
  <!-- Sidebar partial -->
  <div class="page-container">
    <% include partials/sidebar.ejs %>

    <div class="message-container">
      <!-- <% include partials/charts.ejs %> -->
      <% include partials/message-panel.ejs %>
    </div>
  </div>
</body>


</html>