<html>

<head>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
  <form method="POST" action="/login">
    <input name="username" type="text">
    <input name="password" type="text" value="password" hidden>
    <button type="submit">login</button>
  </form>
</body>

</html>