<html>

<head>
  <% include partials/sidebar.ejs %>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
  <form method="POST" action="/login">
    <input name="number" type="text">
    <button type="submit">login</button>
  </form>
</body>

</html>