<html>

<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body>
  <div class="background-image"></div>

  <div class="login-box">
    <div class="logo-container">
      <img class="logo" src="/images/phoney.png" />
    </div>
    <div class="input-container">
      <p class="label">Phone:</p>
      <form method="POST" action="/login">
        <div class="form-container">
          <input class="phone-input" id="username" name="username" type="text" placeholder="e.g. 071356489375">
          <input name="password" type="text" value="password" hidden>
          <button class="submit-button" type="submit">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>