<html>

<head>
  <% include partials/sidebar.ejs %>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body>
  <div class="background-image"></div>
  <div class="login-box">
    <p>Enter your login number below:</p>
    <form method="POST" action="/login">
      <input name="username" type="text">
      <input name="password" type="text" value="password" hidden>
      <button type="submit">login</button>
    </form>
  </div>
</body>

</html>