<html>
<title>Phoney Login</title>

<head>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
  <div class="background-image"></div>

  <div class="login-box">
    <div class="logo-container">
      <img class="logo" src="/images/phoney.png" />
    </div>
    <div class="input-container">
      <p class="label">Phone:</p>
      <form method="POST" action="/login">
        <div class="form-container">
<<<<<<< HEAD
          <input class="phone-input" id="username" name="username" type="text" value="1" placeholder="e.g. 071356489375">
=======
          <input class="phone-input" id="username" name="username" type="text" value="07414525394" placeholder="e.g. 071356489375">
>>>>>>> b8d09c395f7f8cf9a45eff428c861369c0698700
          <input name="password" type="text" value="password" hidden>
          <button class="submit-button" type="submit">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>