.message-container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  flex-grow: 1;
}

.caller-message-container,
.operator-message-container {
  width: 80%;
  padding: 20px 0;
}

.caller-message-container {
  float: right;
}

.operator-message-container {
  float: left;
}

.caller-message-name {
  text-align: right;
}

.caller-message-name,
.operator-message-name {
  margin: 8px;
}

.caller-message-content,
.operator-message-content {
  display: block;
  width: 100%;
  background-color: #9b9b9b;
  color: white;
  border-radius: 32px;
}

.operator-message-content {
  background-color: #67a5ed;
}

.message-text {
  padding: 15px;
  margin: 0;
}

.message-sticker {
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  padding: 0 30px;
}

.message {
  align-self: flex-end;

}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.timer {
  padding: 8px;
  background-color: #7db93a;
  color: white;
  font-size: 18px;
  text-align: center;
}

.message-panel {
  width: 100%;
  display: flex;
  flex-direction: column
}

.hang-up-button:hover,
.hold-button:hover {
  opacity: 1;
  text-decoration: underline;

}

.hang-up-button,
.hold-button {
  border-radius: 0;
}

.hang-up-button {
  background-color: #e84118;
}

.hang-up-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
}

.hold-button {
  background-color: #40739e;
}

.hold-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
}